.DS_Store
backend/.venv/
backend/.env
data/*.db
backend/data/*.db
backend/**/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
*.pyc

mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/ephemeral/
